pefile 
capstone              
speakeasy-emulator           
ctf_toolkit @ git+https://github.com/Wang-SecurityResearch/ctf_toolkit.git
google-generativeai          
triton-library               
angr

pyyaml
